* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'DM Sans', sans-serif;

  background:
    radial-gradient(circle at top left,
    #252525 0%,
    #161616 45%);

  color: var(--text);
  line-height: 1.6;

  -webkit-font-smoothing: antialiased;
}

.container {
  width: min(1200px, 90%);
  margin: auto;
}