.navbar {
  width: 100%;
  padding: 1.5rem 0;

  border-bottom: 1px solid var(--border);
}

.navbar-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.4rem;
  font-weight: 700;
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-links a {
  color: var(--text-secondary);
  text-decoration: none;
  transition: var(--transition);
}

.nav-links a:hover {
  color: var(--text);
}